<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>TDC The Dev Transformation - tela com radio buttons</title>
</head>
<body>
<form method="post">
    <p>Qual sua idade?</p>
    <input type="radio" name="idade" value="18_22">18 a 22 <br>
    <input type="radio" name="idade" value="23_30">23 a 30 <br>
    <input type="radio" name="idade" value="mais31">acima de 31<br>
    <div class="button">
        <button style="margin-top: 5px;" type="submit">Enviar</button>
    </div>
</form>
</html>
