<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Horizontal</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div>
      <h1> TDC The Dev Conference - Transformation - Trilha Python <br></h1>
    </div>

    <nav id="menu-h">
        <ul>
            <li><a href="https://tdc2021.pythonanywhere.com/tdcmenu" > Home </a></li>
            <li><a href="https://github.com/arnottrcaiado/TDC-2021-Python-Pythonanywhere">Sobre</a></li>
            <li><a href="https://tdc2021.pythonanywhere.com/">Olá TDC</a></li>
            <li><a href="https://tdc2021.pythonanywhere.com/tdcinput">Input</a></li>
            <li><a href="https://tdc2021.pythonanywhere.com/tdcradio">Radio</a></li>
            <li><a href="https://tdc2021.pythonanywhere.com/tdcapi">API</a></li>
            <li><a href="https://i9i.solutions">Contato</a></li>
            <li><a href="#">Entrar</a></li>
        </ul>
    </nav>

</body>

</html>